<div class="department-item">
  <a href="/catalog/{{slug}}">
    <div class="department-photo">
        <img src="/assets/img/{{photo}}" alt="{{name}}">
    </div>
    <div class="department-info">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
    </div>
  </a>
</div>