<div class="swiper-slide">
  <a href="/product/{{id}}">
    <div class="slide_img">
      <img src="/assets/img/{{name_of_product_photo}}/{{image}}" alt="{{name}}">
    </div>
    <div class="slide_info">
      <h3>{{name}}</h3>
      <h4>
        <span>{{price}} ₴</span>
        {{current_price}} ₴
      </h4>
    </div>
  </a>
</div>