<li class="review-container">
    <div class="review">
      <p class="user-name">{{user}}</p>
      <div class="rating">
        {{#stars}}
          <div class="star" style="background: {{.}};"></div>
        {{/stars}}
        <p class="review-date">{{date}}</p>
      </div>
      <p class="review-text">{{comment}}</p>
    </div>
  </li>