<div class="item" data-id="{{id}}">
<a class="item-link" href="/product/{{id}}">
  <img src="/assets/img/{{name_of_product_photo}}/{{image}}" alt="{{name}}">
  <p class="item-desc">{{name}}</p>
  <p class="item-price">{{price}} ₴</p>
  <button class="remove-btn" data-id="{{id}}">+</button>
  </a>
</div>
