@import url(../css/base.css);
@import url(../css/fonts.css);

:root {
  --trans: all 0.35s ease-in-out;
  --color_dark: #453526;
  --color_lite: #ece5db;
}

// header-----------------------------------------------------------------------------
header {
  box-shadow: 0px 0px 14px 0px rgba(84, 72, 61, 0.1);
  backdrop-filter: blur(17px);
  background-color: #ece5db73;
  width: 100%;
  padding-block: 10px;
  position: fixed;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.h__left {
  display: flex;
  align-items: center;
  z-index: 9;
}

.nav__header {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__link {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;

  &:hover {
    color: #453526;
  }
}

.header__link:not(.no_active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #453526;
  transition: width 0.35s;
}

.header__link:not(.no_active):hover:before {
  width: 100%;
}

.h__right {
  display: flex;
  align-items: center;
  gap: 12px;

  .search {
    width: 100%;
    max-width: 140px;
    position: relative;
    margin-right: 4px;

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #453526;
      padding-bottom: 1px;
      color: var(--color_dark);
      font-family: "Avenir Next";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100%;
      transition: var(--trans);
      outline: none;

      &::placeholder {
        color: #453526;
        font-family: "Avenir Next";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &:focus {
        border-bottom-color: #453526;
      }
    }

    svg {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 0px;

      path,
      circle {
        transition: var(--trans);
      }
    }

    input:focus + svg path {
      stroke: var(--color_dark);
    }

    input:focus + svg circle {
      stroke: var(--color_dark);
    }
  }
}

.backet {
  border: none;
  cursor: pointer;
  background: transparent;

  .mob {
    display: none;
  }
}

.h__right a,
.backet {
  display: flex;
  align-items: center;
  justify-content: center;

  svg path {
    transition: var(--trans);
  }

  svg circle {
    transition: var(--trans);
  }

  &:hover svg path {
    fill: #d1c1a8;
    stroke: #d1c1a8;
  }

  &:hover svg circle {
    fill: #d1c1a8;
    stroke: #d1c1a8;
  }
}

.burger {
  display: none;
}

.burger__icon {
  width: 30px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: #1c1c1c;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.burger__menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100svh;
  background: var(--second, #ece5db);
  box-shadow: 0px 0px 14px 0px rgba(84, 72, 61, 0.1);
  padding: 50px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 99;
  overflow-y: auto;
  transition: var(--trans);
  max-height: 100svh;

  .btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 95%;
  }
}

.burger__menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.burger__menu .container {
  padding: 0px;
}

.burger__menu .container {
  height: 100%;
  position: relative;
}

.footer__l {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0px;
  gap: 18px;
  position: absolute;
  left: 0px;
  bottom: 0px;

  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--main, #d0c5b5);
    text-align: center;
    -webkit-text-stroke-width: 0.14px;
    -webkit-text-stroke-color: var(--main, #d0c5b5);
    font-family: "Nyght Serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.active_text {
      color: #453526 !important;
    }
  }
}

.burger__menu .header__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 50px;
  width: 100%;
}

.burger__menu .header__item {
  width: 100%;
  text-align: start;
}

.burger__menu .header__link {
  color: var(--main, #453526);
  text-align: center;
  -webkit-text-stroke-width: 0.14px;
  -webkit-text-stroke-color: var(--main, #453526);
  font-family: "Nyght Serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;

  &:hover {
    color: var(--color_purple);
  }
}

.header__dropdown_menu_burger .header__link {
  font-size: 24px;
}

.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
  background-color: #1c1c1c;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-11px, -9px);
  background-color: #1c1c1c;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px !important;

  li a {
    color: #fff;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.h__center {
  margin-left: 90px;
}

.burger {
  display: none;
}

@media (max-width: 1150px) {
  .h__center {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger__menu.active {
    display: block;
  }

  .burger__icon {
    display: flex;
  }

  .h__right {
    div,
    a {
      display: none;
    }
  }

  .backet {
    .mob {
      display: block;
    }

    .desk {
      display: none;
    }
  }
}

.burger__menu .header__list {
  margin-bottom: 40px;
}

.active {
  color: var(--Black, #1d1d1f) !important;
  font-weight: 600 !important;
}

button {
  cursor: pointer;
  border: none;
}

.breadcrmb {
  text-decoration: none;
  color: var(--color_lite);
  display: flex;
  gap: 11px;
  align-items: center;
  font-size: 18px;
  line-height: 24.59px;
  margin-bottom: 19px;
  transition: var(--trans);
}

.breadcrmb path {
  transition: var(--trans);
}

.breadcrmb:visited {
  
  color: var(--color_lite);
}

.breadcrmb:hover {
  color: var(--color_dark);
}

.breadcrmb:hover path {
  fill: var(--color_dark);
  
}

.breadcrmb p {
  font-family: "Avenir Next";
}

h2, h3 {
  color: var(--color_dark);
  font-family: "Nyght Serif";
  font-weight: 400;
}

h2 {
  font-size: 42px;
  line-height: 58.8px;
  margin-bottom: 26px;
  text-align: center;
}

.tab-label {
  font-family: "Nyght Serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  white-space: nowrap;
  transition: var(--trans);
  cursor: pointer;
}

.inputs {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
  text-align: left;
}

fieldset {
  border: none;
  margin-top: 20px;
}

legend {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 20px;
  line-height: 27.32px;
  margin-bottom: 10px;
  color: var(--color_dark);

}

.input {
  width: 48%;
}

.input label {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 14px;
  line-height: 13.66px;
  color: var(--color_lite);
}

.input input {
  width: 100%;
  border: none;
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: var(--color_dark);
  border-bottom: 2px solid var(--color_lite);
  padding-bottom: 10px;
  transition: var(--trans);
}

.selector{
  border-bottom: 2px solid var(--color_lite);
  padding-bottom: 10px;
  transition: var(--trans);
}

.input input::placeholder {
  color: var(--color_dark);
}

.input:hover input, .input:focus-within input, .input:hover .selector, .input:focus-within .selector {
  border-bottom: 2px solid var(--color_dark);
}

input:focus-visible {
  outline: none;
}

label.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: var(--color_dark);
  transition: var(--trans);
  gap: 8px;
}

.checkbox:hover {
  color: var(--color_lite);
}

.checkbox input {
  display: none;
}

.checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color_dark);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--trans);
  flex-shrink: 0;
}

.checkbox:hover .checkmark {
  border-color: var(--color_lite);
}

.checkmark svg {
  opacity: 0;
}

.checkbox input:checked + .checkmark svg {
  opacity: 1;
}

.enter {
  border: none;
  text-align: center;
  margin: 0 auto;
  width: 216px;
  margin-bottom: 13px;
  margin-top: 29px;
}

.forgot-pass {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 20px;
  line-height: 27.32px;
  color: var(--small-text);
  position: relative;
  transition: var(--trans);
}

.forgot-pass::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px; 
  background-color: var(--color_dark);
  transition: width 0.35s;
}

.forgot-pass:hover::after {
  width: 100%;
}

.container-title {
  border-top: 2px solid var(--color_dark);
  border-bottom: 2px solid var(--color_dark);
  font-size: 32px;
  line-height: 44.8px;
  padding: 20px 0;
}
// hero_main------------------------------
main {
  overflow-x: hidden;
}

.sect_hero {
  width: 100%;
  position: relative;
}

.hero_info {
  position: absolute;
  transform: translateY(-50%);
  top: 30%;
  z-index: 3;
  width: 100%;
  height: 0px;

  .box {
    width: fit-content;
  }

  .container {
    height: 0px;
  }

  h3 {
    color: var(--main, #453526);
    font-family: "Ms Madi";
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h2 {
    color: var(--white, #fff);
    -webkit-text-stroke-width: 0.47999998927116394;
    -webkit-text-stroke-color: var(--white, #fff);
    font-family: "Nyght Serif";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p {
    color: var(--second, #ece5db);
    font-family: "Avenir Next";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    max-width: 300px;
    margin-top: 16px;
  }

  a {
    margin-top: 50px;
  }
}

.main_hero_swiper {
  height: 700px;
  .container {
    position: relative;
  }
  .swiper-button-next {
    right: 40px;
  }
  .swiper-button-prev {
    left: 40px;
  }
  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
    width: 100%;
    position: relative;

    &::after {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #0000003d;
      z-index: 1;
    }

    img {
      height: 100%;
      object-fit: cover;
      user-select: none;
      pointer-events: none;
    }
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #453526 !important;
  opacity: 1 !important;
  background-color: transparent !important;
}

.swiper-pagination-bullet-active {
  background-color: #453526 !important;
}

.swiper-pagination {
  bottom: 40px !important;
}

#swiper .swiper-button-prev,
#swiper .swiper-button-next {
  bottom: 21px !important;
}

// hero_main------------------------------
// info_main------------------------------
.flexsb {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sect_info {
  padding-block: 50px;

  h2 {
    color: var(--main, #453526);
    -webkit-text-stroke-width: 0.3199999928474426;
    -webkit-text-stroke-color: var(--main, #453526);
    font-family: "Nyght Serif";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 55px;
    height: 420px;
    width: 100%;
  }

  .left {
    padding-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;

    a {
      width: 100%;
      gap: 5px;

      p {
        font-family: "Nyght Serif";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    h5 {
      color: var(--small-text, #2b221b);
      font-family: "Avenir Next";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: auto;

      margin-top: 13px;
    }
  }

  .right {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 296px !important;
      height: 385px !important;
      img {
        width: 100%;
        height: 277px;
        object-fit: cover;
      }

      .slide_info {
        width: auto;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 17px;

        h3 {
          color: var(--small-text, #2b221b);
          text-align: center;
          font-family: "Avenir Next";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        h4 {
          margin-top: 8px;
          color: var(--small-text, #2b221b);
          font-family: "Avenir Next";
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          span {
            text-decoration-line: line-through;
          }
        }
      }
    }
  }
}

.bot {
  margin-top: auto;
  margin-bottom: 0px;
  max-width: 216px;
}

#swiper1 {
  height: 100%;
  width: 100%;
  border-left: 2px solid #453526;
  border-right: 2px solid #453526;
  margin-right: 80px;
  margin-left: auto;
  max-width: 950px;
  .slide_link {
    height: 100%;
    display: block;
    width: 100%;

    &:hover .btn {
      opacity: 1;
    }
  }

  .swiper-wrapper {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 12px;
    height: 100%;
    transition-timing-function: linear !important;
  }

  .btn {
    position: absolute;
    z-index: 3;
    transform: translateX(-50%);
    left: 50%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transition: var(--trans);

    span {
      width: 32px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      transition: var(--trans);
      cursor: pointer;

      svg path {
        transition: var(--trans);
      }

      &:hover {
        background-color: rgba(232, 224, 211, 0.3);
      }
    }
  }

  .slide_img {
    position: relative;
    height: 277px;
  }

  span.like.active svg path,
  span.shop.active svg path {
    fill: #e8e0d3 !important;
    transition: fill 0.3s ease;
  }

  span.like svg path,
  span.shop svg path {
    transition: fill 0.3s ease;
  }
}

.sect_info .flexsb .lite_btn {
  margin-right: 80px;
}

// info_main------------------------------
// sect_btn------------------------------
.sect_btn {
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left,
  .right {
    background-image: url(../img/other/main1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right {
    background-image: url(../img/other/main2.jpg);
  }

  a {
    margin: 630px auto 60px;
  }
}

// sect_btn------------------------------
// sect_new------------------------------
.sect_new {
  padding-block: 60px;
  position: relative;

  &:before {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 200px;
    content: "";
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 14%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 2;
  }

  &:after {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 200px;
    content: "";
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 14%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 2;
  }

  .title {
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    position: relative;
    width: 100%;
  }

  #swiper2 {
    transform: translateY(-35px);}
}

#swiper2 {
  
  height: 450px;
  .container {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  .swiper-button-prev path,
  .swiper-button-next path {
    transition: var(--trans);

    fill: #ece5db;
  }
  .slide_link {
    height: 100%;
    display: block;

    &:hover .btn {
      opacity: 1;
    }
  }

  .slide_img {
    background-color: #000;
    position: relative;
    height: 277px;
    width: 100%;
  }

  .swiper-button-prev {
    left: 0px;
    bottom: 0px !important;
  }

  .swiper-button-next {
    right: 0px;
    bottom: 0px !important;
  }

  .swiper-wrapper {
    width: 100%;
    height: 100%;
  }

  .btn {
    position: absolute;
    z-index: 3;
    transform: translateX(-50%);
    left: 50%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transition: var(--trans);

    span {
      width: 32px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      transition: var(--trans);
      cursor: pointer;

      svg path {
        transition: var(--trans);
      }

      &:hover {
        background-color: rgba(232, 224, 211, 0.3);
      }
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 296px !important;
    height: 385px !important;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin-right: auto;
      margin-left: auto;
    }

    .slide_info {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 17px;

      h3 {
        color: var(--small-text, #2b221b);
        text-align: center;
        font-family: "Avenir Next";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      h4 {
        margin-top: 8px;
        color: var(--small-text, #2b221b);
        font-family: "Avenir Next";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        span {
          text-decoration-line: line-through;
        }
      }
    }
  }

  .slide_link {
    width: 100%;
  }

  span.like.active svg path,
  span.shop.active svg path {
    fill: #e8e0d3 !important;
    transition: fill 0.3s ease;
  }

  span.like svg path,
  span.shop svg path {
    transition: fill 0.3s ease;
  }
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  top: auto !important;
  margin-top: 0 !important;
  width: 20px;
  height: 31px;
  z-index: 11;
}

.swiper-button-prev svg {
  transform: scaleX(-1);
}

.swiper-button-prev svg,
.swiper-button-next svg {
  pointer-events: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev path,
.swiper-button-next path {
  transition: var(--trans);

  fill: #fff;
}

.swiper-button-prev:hover path,
.swiper-button-next:hover path {
  fill: var(--color_dark) !important;
}
// sect_new------------------------------
// sect_box------------------------------
.sect_box {
  position: relative;
  padding-top: 220px;
  padding-bottom: 180px;

  h2 {
    color: var(--main, #453526);
    text-align: center;
    width: 100%;
    max-width: 920px;
    margin: 0px auto 80px;
    -webkit-text-stroke-width: 0.5600000023841858;
    -webkit-text-stroke-color: var(--main, #453526);
    font-family: "Nyght Serif";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    z-index: 2;
  }

  a {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
  }

  img {
    position: absolute;
    z-index: 1;
  }

  .anim1 {
    max-width: 200px;
    top: 17px;
    left: 164px;
  }

  .anim2 {
    max-width: 64px;
    top: 195px;
    left: 120px;
  }

  .anim3 {
    max-width: 270px;
    left: -67px;
    bottom: 0px;
  }

  .anim4 {
    max-width: 64px;
    left: 250px;
    bottom: 190px;
  }

  .anim5 {
    max-width: 276px;
    left: 180px;
    bottom: -66px;
  }

  .anim6 {
    max-width: 230px;
    top: -23px;
    right: 300px;
  }

  .anim7 {
    max-width: 64px;
    top: 17px;
    right: 200px;
  }

  .anim8 {
    max-width: 270px;
    top: 90px;
    right: -18px;
  }

  .anim9 {
    max-width: 64px;
    right: 300px;
    bottom: 200px;
  }

  .anim10 {
    max-width: 265px;
    right: 50px;
    bottom: -70px;
  }

  /* Анімації для зображень */
  .anim1 {
    animation: moveDown1 6s ease-in-out infinite;
  }

  .anim2 {
    animation: moveDown5 6s ease-in-out infinite;
  }

  .anim4 {
    animation: moveDown2 5s ease-in-out infinite;
  }

  .anim3 {
    animation: moveDown6 6s ease-in-out infinite;
  }

  .anim5 {
    animation: moveDownAndRotate 5s ease-in-out infinite;
  }

  .anim6 {
    animation: moveDownAndRotate1 5s ease-in-out infinite;
  }

  .anim7 {
    animation: moveDown1 6s ease-in-out infinite;
  }

  .anim9 {
    animation: moveDown5 5s ease-in-out infinite;
  }

  .anim8 {
    animation: moveDown6 6s ease-in-out infinite;
  }

  .anim10 {
    animation: moveDownAndRotate 7s ease-in-out infinite;
  }

  /* Анімації для кожного ефекту */
  @keyframes moveDown1 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(40px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveDown2 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(45px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveDownAndRotate {
    0% {
      transform: translateY(0) rotate(0deg);
    }

    50% {
      transform: translateY(50px) rotate(10deg);
    }

    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  @keyframes moveDownAndRotate1 {
    0% {
      transform: translateY(0) rotate(0deg);
    }

    50% {
      transform: translateY(50px) rotate(20deg);
    }

    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  @keyframes moveDown5 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(35px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveDown6 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveDown7 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(60px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

// sect_box------------------------------
// sect_about------------------------------
.sect_about {
  margin-top: 100px;
  padding-block: 50px;
  background-color: #ece5db;

  .grid2 {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 20px;

    .right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h2 {
      color: var(--white, #fff);
      font-family: "Ms Madi";
      font-size: 190px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: absolute;
      opacity: 0.4;
      z-index: 1;
      transform: translateX(-50%);
      left: 50%;
      top: 0px;
      width: 100%;
      max-width: 730px;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 550px;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      z-index: 2;

      h3 {
        color: var(--main, #453526);
        text-align: center;
        margin-bottom: 15px;
        -webkit-text-stroke-width: 0.25600001215934753;
        -webkit-text-stroke-color: var(--main, #453526);
        font-family: "Nyght Serif";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      p {
        color: var(--small-text, #2b221b);
        text-align: center;
        font-family: "Avenir Next";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 50px;
      }

      a {
        width: 220px;
        border: 2px solid transparent;

        &:hover {
          border: 2px solid var(--color_dark);
        }
      }
    }
  }
}

// sect_about------------------------------
// sect_video------------------------------
.sect_video {
  padding-top: 50px;

  .video {
    width: 100%;
    position: relative;
  }

  video {
    width: 100%;
  }
}

// sect_video------------------------------
// sect_corporate------------------------------
.sect_corporate {
  margin-block: 50px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221528%22%20height%3D%22456%22%20viewBox%3D%220%200%201528%20456%22%20fill%3D%22none%22%3E%3Cpath%20opacity%3D%220.4%22%20d%3D%22M-59%20231.441C5.66231%20274.909%20105.797%20308.799%20222.656%20289.61C408.144%20259.152%20469.548%2019.7843%20405.13%2003.63137C338.92%20-12.9711%20326.325%2051.1575%20350.013%20134.917C373.701%20218.676%20451.5%20462.449%20790%20370.724C1128.5%20279%201438.33%20412.833%201620%20454.5%22%20stroke%3D%22%23ECE5DB%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: moveBackground 10s infinite linear;
  position: relative;

  .image {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    max-width: 500px;
  }

  .border {
    width: 100%;
    height: 100%;
    border-top: 2px solid #453526;
    border-bottom: 2px solid #453526;
    padding-block: 200px;
  }

  .info {
    width: 100%;
    max-width: 670px;
    position: relative;
    z-index: 2;

    h2 {
      color: var(--main, #453526);
      -webkit-text-stroke-width: 0.5600000023841858;
      -webkit-text-stroke-color: var(--main, #453526);
      font-family: "Nyght Serif";
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 15px;
    }

    p {
      color: var(--small-text, #2b221b);
      font-family: "Avenir Next";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 50px;
    }
  }

  @keyframes moveBackground {
    0% {
      background-position: center;
    }

    50% {
      background-position: top right;
      /* переміщення фону */
    }

    100% {
      background-position: center;
    }
  }
}

// sect_corporate------------------------------
// sect_inst------------------------------
.sect_inst {
  padding-bottom: 50px;

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    h2 {
      color: var(--second, #ece5db);
      font-family: "Ms Madi";
      font-size: 140px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: absolute;
      width: 100%;
      right: 0px;
      left: auto;
      bottom: 0px;
      text-align: right;
      z-index: 1;
    }

    .grid3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .left {
      position: relative;
      z-index: 2;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 370px;
        margin-right: auto;
        margin-left: auto;
      }

      h3 {
        color: var(--main, #453526);
        text-align: center;
        -webkit-text-stroke-width: 0.25600001215934753;
        -webkit-text-stroke-color: var(--main, #453526);
        font-family: "Nyght Serif";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 15px;
      }

      p {
        color: var(--small-text, #2b221b);
        text-align: center;
        font-family: "Avenir Next";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 50px;
      }

      a svg path {
        transition: var(--trans);
      }

      a:hover svg path {
        fill: #d1c1a8;
      }
    }
  }
}

// sect_inst------------------------------
// sect_rev------------------------------
.sect_rev {
  padding-top: 50px;
  background-color: #ece5db;
  padding-bottom: 130px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221528%22%20height%3D%22376%22%20viewBox%3D%220%200%201528%20376%22%20fill%3D%22none%22%3E%3Cpath%20opacity%3D%220.4%22%20d%3D%22M-85.8315%20374.133C-71.007%20361.291%20-49.0001%20350.97%20-49.0001%20331.5C-49.0001%20175%20121.961%20117.097%20229.5%20138.178C382.471%20168.164%20556.904%20200.57%20709%20215.473C930.881%20237.214%201087.57%20280.227%201278.36%20138.178C1398.9%2048.4274%201302.18%20-73.9121%201238.84%2060.9538C1188.73%20167.647%201266.85%20268.202%201379.9%20190.128C1493.53%20111.653%201583.61%2079.079%201721.49%2079.079C1758.69%2079.079%201927%20%2073.1342%201927%20136.518%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: moveBackground 11s infinite linear;

  @keyframes moveBackground {
    0% {
      background-position: center;
    }

    50% {
      background-position: top right;
    }

    100% {
      background-position: center;
    }
  }

  h2 {
    color: var(--main, #453526);
    text-align: center;
    -webkit-text-stroke-width: 0.5600000023841858;
    -webkit-text-stroke-color: var(--main, #453526);
    font-family: "Nyght Serif";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #swiper3 .swiper-button-prev,
  #swiper3 .swiper-button-next {
    top: 23% !important;
  }
  #swiper3 {
    margin-top: 20px;
  }

  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 20px;

    .text {
      width: 100%;
      max-width: 630px;
      padding: 25px;
      margin-right: auto;
      margin-left: auto;

      p {
        color: var(--small-text, #2b221b);
        text-align: center;
        font-family: "Avenir Next";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      img {
        position: absolute;
        max-width: 20px;
      }

      .bottom {
        bottom: 0px;
        left: 0px;
      }

      .top {
        top: 0px;
        right: 0px;
      }
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      img {
        max-width: 28px;
      }
    }
  }
}

// sect_rev------------------------------
// footer------------------------------
footer {
  .top {
    background: #d1c1a8;
    padding-block: 80px;

    .grid4 {
      .btn_home {
        position: absolute;
        right: 0px;
        bottom: 0px;

        svg path {
          transition: var(--trans);
        }

        &:hover svg path {
          fill: var(--color_dark) !important;
        }
      }

      display: grid;
      grid-template-columns: 180px 1fr 1fr 1fr;
      gap: 90px;
      padding-left: 50px;
      padding-right: 50px;
      position: relative;
    }

    .col1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .soc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        margin-top: 60px;

        a {
          svg path {
            transition: var(--trans);
          }

          &:hover svg path {
            fill: var(--color_dark);
          }
        }
      }
    }

    .col2 {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;

      a {
        color: #453526;
        font-family: "Avenir Next";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .col3 {
      display: flex;
      align-items: start;
      flex-direction: column;

      .box {
        display: flex;
        justify-content: start;
        gap: 15px;
        margin-bottom: 20px;

        .info {
          display: flex;
          flex-direction: column;
          align-items: start;

          h3 {
            color: #453526;
            font-family: "Nyght Serif";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 5px;
          }

          p {
            color: #453526;
            font-family: "Avenir Next";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 5px;
            white-space: nowrap;
          }
        }
      }
    }

    .col4 {
      .box {
        display: flex;
        justify-content: start;
        gap: 15px;
        margin-bottom: 20px;

        a {
          color: #453526;
          font-family: "Avenir Next";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }

  .footer_bot {
    padding-block: 10px;

    .grid5 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      p,
      a {
        color: var(--small-text, #2b221b);
        text-align: center;
        font-family: "Avenir Next";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

#splide1 .splide__arrow {
  display: none !important;
}

.col2 {
  width: 240px;
}

.backet_main.open {
  right: 0;
}

.backet_main {
  position: absolute;
  width: 100%;
  height: 100svh;
  z-index: 1000;
  background: var(--white, #fff);
  box-shadow: 0px 0px 14px 0px rgba(84, 72, 61, 0.1);
  padding: 15px 40px;
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 500px;
  overflow: hidden;
  transition: right 0.35s ease-in-out;

  .flex {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ece5db;
    justify-content: space-between;
    margin-bottom: 10px;

    h3 {
      color: #54483d;
      -webkit-text-stroke-width: 0.26px;
      -webkit-text-stroke-color: #54483d;
      font-family: "Nyght Serif";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      color: #d0c5b5;
      text-align: center;
      font-family: "Nyght Serif";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      transform: rotate(45deg);
      transition: var(--trans);

      &:hover {
        color: #453526;
      }
    }
  }

  .backet_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100svh - 200px);

    li {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-direction: column;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;

        p {
          color: #3c3030;
          font-family: "Avenir Next";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          max-width: 170px;
        }

        button {
          background: transparent;
          border: none;
          cursor: pointer;
          color: #54483d;
          text-align: center;
          -webkit-text-stroke-width: 0.26px;
          -webkit-text-stroke-color: #54483d;
          font-family: "Nyght Serif";
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 37px;
          transform: rotate(45deg);
          margin-right: 5px;
        }
      }

      .image {
        width: 100%;
        aspect-ratio: 1/1;
        max-width: 90px;
        background: #000;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding: 5px;
        }
      }
    }
  }
}

.price {
  color: #3c3030;
  font-family: "Avenir Next";
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quantity-controls {
  width: 100%;
  border-top: 2px solid var(--color_dark);
  border-bottom: 2px solid var(--color_dark);
  padding: 5px 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity,
.quantity-controls button {
  color: #54483d;
  text-align: center;
  -webkit-text-stroke-width: 0.16px;
  -webkit-text-stroke-color: #52483e;
  font-family: "Nyght Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.quantity-controls button {
  background-color: transparent;
}

.result {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  border-top: 2px solid #ece5db;

  h5 {
    color: #3c3030;
    font-family: "Avenir Next";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.backet_main .lite_btn {
  border: none;
  cursor: pointer;
  width: 100%;
}

.hero_page {
  height: 100svh;

  h2 {
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translateX(-50%);
    font-size: clamp(60px, 8vw, 120px);
    white-space: nowrap;
    font-weight: 500;
    color: #ece5db;
    font-family: "Nyght Serif";
  }

  .bg {
    height: 100%;
    object-fit: cover;
  }
}

.sect_about.about {
  background: #fff;
  margin-top: 0px;
  padding-block: 130px;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%221528%22%20height%3D%22540%22%20viewBox%3D%220%200%201528%20540%22%20fill%3D%22none%22%3E%3Cpath%20opacity%3D%220.4%22%20d%3D%22M-296%20221.314C-235.977%20332.676%20-46.584%20466.194%20222.645%20421.882C491.875%20377.571%20581%2029.3281%20487.5%205.82823C391.398%20-18.3257%20373.118%2074.9713%20407.5%20196.828C441.882%20318.685%20549.68%20591.38%20978%20527.828C1322%20476.787%201212.5%20196.828%201136.5%20234.328C1062%20271.089%201128%20546.328%201528%20421.882%22%20stroke%3D%22%23ECE5DB%22%20stroke-width%3D%224%22/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: moveBackground 10s infinite linear;

  .grid2 {
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    color: var(--second, #ece5db);
    font-family: "Ms Madi";
    font-size: 190px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--second, #ece5db);
    font-family: "Ms Madi";
    font-size: 190px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.animate_svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  pointer-events: none;
}
.animate_path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: draw-line 6s infinite forwards;
}
@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}
.sect_2 {
  .animate_svg {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    width: 100%;
    height: 80%;
  }
  .info {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    img {
      width: auto;
      height: 480px;
      object-fit: cover;
      margin: -200px auto 140px;
    }
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    h3 {
      color: var(--main, #453526);
      text-align: center;
      -webkit-text-stroke-width: 0.26px;
      -webkit-text-stroke-color: var(--main, #453526);
      font-family: "Nyght Serif";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 15px;
    }

    p {
      max-width: 300px;
      color: var(--small-text, #2b221b);
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      /* Body base */
      font-family: "Avenir Next";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
.about1 {
  padding-bottom: 50px !important;
  background-image: none !important;
  h2 {
    top: 15% !important;
  }
  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    p {
      color: var(--small-text, #2b221b);

      /* Body base */
      font-family: "Avenir Next";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h4 {
      color: var(--main, #453526);

      /* H4 */
      -webkit-text-stroke-width: 0.16px;
      -webkit-text-stroke-color: var(--main, #453526);
      font-family: "Nyght Serif";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }
}
.sect_video.about {
  padding: 0px;
  video {
    padding-block: 50px;
    border-top: 2px solid #453526;
    border-bottom: 2px solid #453526;
  }
}
.add-to-cart {
  padding-top: 50px;
}
.blog {
  .title{
    text-align: center;
  }
  .product-gallery{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .info{
    color: var(--small-text, #2B221B);
text-align: center;
font-size: 18px !important;
font-weight: 500 !important;
  }
}
.product-content {
  .product-img{
    overflow: hidden;
  }
  img{
    transition: var(--trans);
    height: 100%;
    object-fit: cover;
   
  }
 
  &:hover img{
    transform: scale(1.20);
  }

}
.blog{
  .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 75px;
    .right{
      max-width: 620px;
    }
    .info{
      margin-bottom: 5px;
      text-align:start;
    }
    .title_blogs{
      color: var(--main, #453526);

/* H3 */
-webkit-text-stroke-width: 0.26px;
-webkit-text-stroke-color: var(--main, #453526);
font-family: "Nyght Serif";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 5px;
    }
    p{
      color: var(--small-text, #2B221B);

/* Body base */
font-family: "Avenir Next";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
  }
  .slide_link:hover img{
    transform: scale(1.20);
  }
  .slide_img{
   overflow: hidden; 
  }
  img{
    transition: var(--trans);
    height: 100% !important;
    object-fit: cover;
   
  }
 
 
}
.offer-corporate{
 .text_page{
  transform: translateY(70px);
    z-index: -1;
    position: relative;
 } 
}
.text_page{
  color: var(--second, #ECE5DB);
-webkit-text-stroke-width: 1.02px;
-webkit-text-stroke-color: var(--second, #ECE5DB);
font-family: "Nyght Serif";
font-size: clamp(32px, 8vw, 128px);
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.small_page{
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: space-between;
}
.done_tamplate{
  margin-bottom: 30px;
  
  .you-have-seen-header{
    margin-bottom: 40px;
  }
  .gallery-pagination{
    margin-top: 30px;
  }
  .grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
  }
  li{
    position: relative;
    
    &:hover{
      .absolute_btn{
        opacity: 1;
            }
            .img_cont::after{
              opacity: 1;
            }
    } 
    
  }
  .img_cont{
    height: 380px;
    position: relative;
    &::after{
      position: absolute;
      transition: var(--trans);
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      content: "";
      background: rgba(255, 255, 255, 0.70);
      opacity: 0;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .absolute_btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    opacity: 0;
   
  }
}
@media (max-width: 1930px) {
   #swiper2 .swiper-button-next {
    right: 200px;
  }
   #swiper2 .swiper-button-prev {
    left: 200px;
  }
}
@media (max-width:1360px) {
  .blog .product-gallery{
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}

@media (max-width: 1250px) {
  .done_tamplate .grid3{
    grid-template-columns: 1fr 1fr;
  }
  .sect_about.about h2 {
    font-size: 102px;
  }
  .h__center {
    margin-left: 30px;
  }

  .header__list {
    gap: 30px;
  }

  footer .top .grid4 {
    gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 1018px) {
  .blog .product-gallery{
    grid-auto-rows: 450px !important;
  }
}
@media (max-width: 1000px) {
  footer .top .grid4 {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  footer .top .col1 .soc {
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .done_tamplate li:hover .img_cont::after{
    opacity: 0;
  }
  .done_tamplate .absolute_btn{
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
  .done_tamplate .grid3{
    grid-template-columns: 1fr;
  }
  .blog .grid2{
    grid-template-columns: 1fr;
  }
  .blog .product-gallery{
    grid-template-columns: 1fr  1fr;
  }
  .sect_2 .info img {
    margin-bottom: 40px;
  }
  .sect_about.about .grid2 {
    grid-template-columns: 1fr;
  }
  .sect_2 .grid3 {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .hero_page h2.wrap {
    white-space: wrap;
  }
  .sect_2 .info {
    padding-bottom: 10px;
  }
  .sect_info {
    .grid2 {
      grid-template-columns: 1fr;
      height: auto;
    }
  }

  footer .footer_bot .grid5 {
    grid-template-columns: 1fr;
    gap: 20px;

    p,
    a {
      text-align: left;
    }
  }

  .sect_btn .grid2 {
    grid-template-columns: 1fr;
  }

  .sect_about .grid2,
  .sect_inst .grid2 {
    gap: 50px;
    grid-template-columns: 1fr;
  }

  .sect_inst .grid2 h2 {
    font-size: 100px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    text-align: center;
  }
  #swiper2 {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .blog .product-gallery{
    grid-template-columns: 1fr;
  }
  .swiper-button-next svg,
  .swiper-button-prev svg {
    height: 35px !important;
  }
  #swiper {
    height: 100svh;
  }
  .sect_2 .animate_svg {
    bottom: -30%;
  }
  .about1 .grid4 {
    grid-template-columns: 1fr;
  }
  .sect_about.about {
    padding-top: 80px;
  }
  .sect_2 .info img {
    height: 200px;
    margin-top: -100px;
  }
  footer .top .grid4 {
    grid-template-columns: 1fr;
  }

  .sect_rev #swiper3 .swiper-button-prev,
  .sect_rev #swiper3 .swiper-button-next {
    top: auto !important;

    bottom: 0 !important;
  }
  .sect_rev .info .text {
    padding-bottom: 50px;
  }

  .sect_rev .info .text .bottom {
    bottom: 50px;
  }

  .sect_corporate .image {
    height: 420px;
    width: auto;
    top: 35%;
  }

  .sect_corporate .border {
    padding-block: 50px;
    min-height: 520px;
  }

  .sect_corporate {
    overflow: hidden;
  }

  footer .top {
    padding-block: 40px;
  }

  footer .top .col1 .soc {
    gap: 20px;
  }

  footer .top .grid4 {
    gap: 30px;
  }

  footer .top .col2 {
    padding-left: 35px;
    gap: 10px;
  }

  .sect_rev {
    animation: moveBackground 20s infinite linear;
    padding-bottom: 80px;
  }

  .sect_rev h2 {
    font-size: 32px;
  }

  .sect_inst .grid2 .right p {
    font-size: 16px;
  }

  .sect_inst .grid2 h2 {
    white-space: nowrap;
    font-size: 60px;
    bottom: 30%;
  }

  .sect_about .grid2 h2 {
    font-size: 100px;
    white-space: nowrap;
    top: -30%;
  }

  .sect_corporate .info h2 {
    font-size: 32px;
    max-width: 260px;
  }

  .sect_corporate .info p {
    font-size: 16px;
    max-width: 170px;
  }

  .sect_corporate .info {
    min-height: 450px;
    position: relative;

    .lite_btn {
      width: 100%;
      margin-top: auto;
      margin-bottom: 0px;
      position: absolute;
      left: 0px;
      bottom: 0px;
    }
  }

  .sect_box h2 {
    font-size: 32px;
  }

  .sect_box {
    padding-bottom: 30px;

    .anim1 {
      max-width: 100px;
      top: 50px;
      left: 164px;
    }

    .anim2 {
      max-width: 44px;
      top: 160px;
      left: 120px;
    }

    .anim3 {
      max-width: 170px;
      left: -67px;
      bottom: 0px;
    }

    .anim4 {
      max-width: 44px;
      left: auto;
      right: 50px;
      bottom: 190px;
    }

    .anim5 {
      max-width: 176px;
      left: 180px;
      bottom: 66px;
    }

    .anim6 {
      max-width: 130px;
      top: -23px;
      right: 300px;
    }

    .anim7 {
      max-width: 44px;
      top: 17px;
      right: 200px;
    }

    .anim8 {
      max-width: 170px;
      top: 70px;
      right: -18px;
    }

    .anim9 {
      max-width: 44px;
      right: 300px;
      bottom: 200px;
    }

    .anim10 {
      max-width: 165px;
      right: 150px;
      bottom: -70px;
    }
  }

  .sect_box a {
    margin-top: 200px;
  }

  .sect_new::after,
  .sect_new::before {
    background: transparent;
    z-index: -1;
  }

  .sect_new .title {
    height: 130px;
  }

  .sect_new {
    padding-block: 0px;
  }

   #swiper2 {
    height: 380px;
  }

  .sect_btn .left,
  .sect_btn .right {
    background-size: contain;
    height: 450px;
    position: relative;
    margin-bottom: 50px;
  }

  .sect_btn a {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .hero_info h2 {
    font-size: 45px;
  }

  .backet_main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .backet_main .backet_list li .top p {
    font-size: 14px;
  }

  .price {
    font-size: 20px;
  }

  .backet_main .backet_list li .top button {
    transform: rotate(45deg) translateY(-5px);
  }

  .main_hero_swiper .swiper-slide img {
    object-position: 62%;
  }
  .btn{
    opacity: 1 !important;
  }
}
