h2 {
    margin-bottom: 4px;
    color: #6F0E19;
    text-align: center;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #DFE1E6;
    align-items: flex-end;
    min-height: 76px;
}

.tab-label {
    padding: 10.5px 12px;
    border-top: 2px solid #28315C;
    text-align: center;
    flex: 1;
    color: #28315C;
    height: 49px;
}

#tab1:checked + .tab-label,
#tab2:checked + .tab-label,
#tab3:checked + .tab-label,
#tab4:checked + .tab-label,
#tab5:checked + .tab-label,
#tab6:checked + .tab-label {
    padding-top: 23px;
    padding-bottom: 23px;
    height: 74px;
    box-shadow: 0px 0px 14px 0px #54483D1A;
}

.tab-content {
    display: none;
}

#home{
    padding-top: 100px;
}

#content1.active {
    display: flex;
}

#content2.active,
#content3.active,
#content4.active,
#content5.active {
    display: block;
}

.line {
    border: none;
    height: 2px;
    background-color: black;
    margin-bottom: 50px;
}

@media (max-width: 1019px) {
    h2 {
        margin-bottom: 33px;
        width: 100%;
    }

    .tabs {
        flex-direction: column;
        border-bottom: 2px solid #28315C;
        align-items: stretch;
    }

    #tab1:checked + .tab-label,
    #tab2:checked + .tab-label,
    #tab3:checked + .tab-label,
    #tab4:checked + .tab-label,
    #tab5:checked + .tab-label,
    #tab6:checked + .tab-label {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 68px;
    }

    .line {
        display: none;
    }
}

.info {
    gap: 24px;
    margin-bottom: 138px;
    margin-top: 33px;
}

.info form {
    width: 457px;
}

.info fieldset {
    margin-top: 0;
}

legend {
    font-family: 'Kyiv Type Serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.info .input {
    margin-bottom: 20px;
    width: 100%;
}


.info .dark_btn {
    justify-self: flex-end;
}

@media (max-width: 1019px) {
    .info {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }

    .info form {
        width: 100%;
    }

    .info .checkbox {
        margin-top: 0;
    }

    .info .lite_btn {
        margin-top: 10px;
        justify-self: center;
    }
}

.orders-box {
    margin-top: 27px;
    margin-bottom: 106px;
}

.orders {
    width: 100%;
    margin: auto;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-family: 'Kyiv Type Serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #28315C;
    padding-bottom: 20px;
}

td {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: black;
}

.order-all, .order-num {
    width: 20%;
}

.flex-container{
    display: flex;
}

@media (max-width: 1019px) {
    .orders-box {
        margin-top: 2px;
        margin-bottom: 40px;
    }

    table {
        border: none;
    }

    thead {
        display: none;
    }

    tbody {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    tr {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 20px 0;
        position: relative; 
        border-bottom: 2px solid #DFE1E6;
        gap: 10px;
    }

    tr:last-of-type {
        border-bottom-color: black;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 0;
        border: none;
        width: 70%;
    }

    td::before {
        content: attr(data-label);
        font-family: 'Exo2';
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #DFE1E6;
    }

    .order-date {
        width: fit-content;
        position: absolute;
        top: 20px;
        right: 15px;
        color: #DFE1E6;
    }


    td span, .actions button {
        width: 130px;
        text-align: left;
    }

    .order-all, .order-num {
        width: 70%;
    }

    .order-all span {
        font-family: 'Exo2';
    }
}

.card {
    margin-top: 27px;
    margin-bottom: 50px;
}

.card form {
    margin: 0 auto;
    max-width: 700px;
}

.card fieldset {
    margin-bottom: 20px;
}

.card .lite_btn {
    justify-self: end;
}

.card .input {
    width: 100%;
}

@media (max-width: 1019px) {
    .card {
        margin-top: 31px;
        margin-bottom: 40px;
    }
}

.exit {
    margin-top: 40px;
    margin-bottom: 72px;
}

.exit h3 {
    margin-bottom: 63px;
    font-family: 'Kyiv Type Serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 206px;
    justify-content: center;
}

.buttons button {
    width: 216px;
}

@media (max-width: 1019px) {
    .exit {
        padding-bottom: 65px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
    }

    .exit h3 {
        margin-bottom: 40px;
    }

    .buttons {
        flex-direction: column;
        gap: 36px;
        align-items: center;
    }
}
@media (max-width:900px) {
    .item img{
        height: 380px;
    }
}