#home{
  padding-top: 100px;
}

h2 {
  color: #6F0E19;
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: space-evenly;
}
.left, .right {
  width: 48%;
}
.description {
  margin-bottom: 10px;
  max-width: 563px;
}
  
.description p {
  font-family: 'Exo2';
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: black;
}

.container-title {
    padding: 20px 32px;
}

.cart-items {
  max-height: calc(2 * 245px);
  overflow-y: auto;
  overflow-x: hidden;
}
  
.cart-item {
  padding: 19px 30px 24px 32px;
  border-bottom: 2px solid #DFE1E6;
}
  
.cart-item:last-child {
  border-bottom: 2px solid black;
}
  
.cart-item img {
  width: 107px;
  align-self: flex-start;
  margin-top: 5px;
}
  
.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
  
.item-text {
  display: flex;
  flex-direction: column;
  margin-left: 39px;
  gap: 15px;
}
  
.item-title {
  font-family: 'Exo2';
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: black;
}
  
.item-desc {
  font-family: 'Exo2';
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: #DFE1E6;
  max-width: 332px;
}

.item-bottom {
  display: flex;
  justify-content: space-between;
}
  
.item-price {
  font-family: 'Exo2';
  font-weight: 500;
  font-size: 20px;
  line-height: 27.32px;
  color: black;
  white-space: nowrap;
}
  
.remove-btn {
  font-family: 'Kyiv Type Serif';
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  transform: rotate(-45deg);
  background-color: transparent;
  margin-left: auto;
}
  
.quantity {
  font-family: 'Exo2';
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center
}
  
.cart-summary {
  padding-top: 19px;
  padding-bottom: 13px;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}

.summary-text  {
  font-family: 'Exo2';
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  margin-bottom: 5px;
  color: black;
}
  
.cart-total {
  font-family: 'Kyiv Type Serif';
  font-weight: 400;
  font-size: 32px;
  line-height: 44.8px;
  margin-bottom: 0;
  color: #28315C;
}
  
.cart-total-price {
  font-family: 'Kyiv Type Serif';
}
  
.cart-summary span {
  float: right;
}
  
.order {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.item {
  transition: opacity 0.3s, transform 0.3s;
}

.item.removing {
  opacity: 0;
  transform: scale(0.9);
}

@media (max-width: 1019px) {  
  .flex-container{
    flex-direction: column-reverse;
  }
  .left, .right {
    width: 100%;
  }
    h2 {
      margin-bottom: 37px;
      
    }
.inputs{
  flex-direction: column;
  width: 100%;
}
.input{
  width: 100%;
}
  .container-title {
    border: none;
    padding: 0;
  }

  .cart-items {
    max-height: calc(2 * 164px);
    padding-right: 5px;
  }
  
  .cart-item {
    padding: 20px 0 0;
    border: none !important;
  }
 
  .cart-item img {
    width: 89.35px;
  }
  
  .item-text {
    flex-direction: row;
    align-items: center;
    margin-right: 14px;
  }
 
  .item-title {
    font-size: 14px;
    line-height: 19.12px;
  }

  .item-desc {
    display: none;
  }

  .remove-btn {
    padding-top: 3px;
  }

  .cart-summary {
    border: none;
    margin-bottom: 7px;
    padding-top: 13px;
    padding-bottom: 0;
  }

  .order {
    margin-bottom: 37px;
    width: 98%;
  }

  .left {
    margin: 0;
  }
}