main {
    padding-top: 59px;
}
.product-container {
    background-color: black;
    padding-top: 33px;
    padding-bottom: 34px;
    margin-bottom: 50px;
}

.product-flex {
    display: flex;
    gap: 100px;
    justify-content: start;
}

.breadcrambs {
    display: flex; 
    gap: 9px;
    align-items: center;
    margin-bottom: 17px;
}

.breadcrambs a {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #DFE1E6;
    transition: var(--trans);
}

.breadcrambs a:hover {
    color: #28315C !important;
}

.breadcrambs a:last-of-type {
    color: white;
}

.breadcrambs svg {
    width: 7px;
    height: 14px;
    transform: rotate(180deg);
}

.gallery {
    width: calc(100% - 457px - 100px);
    max-width: 750px;
}

.main-image {  
    overflow: hidden;
    height: 365px;
}

.main-image img {
    width: auto;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

.thumbnails {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
    overflow-x: auto;
}

.thumbnails::-webkit-scrollbar {
    height: 8px;
}

.thumbnails::-webkit-scrollbar-track {
    border-radius: 6px;
}

.thumbnails img {
    width: 136px;
    height: 98px;
    cursor: pointer;
    border: 0.5px solid var(--color_lite);
}

.product-info-container {
    width: 457px;
    background-color: white;
    height: fit-content;
    min-height: 473px;
}

.product-desc {
    padding: 17px 29px 26px 22px;
    display: flex;
    flex-direction: column;
    min-height: 473px;
}

h3 {
    font-family: 'Kyiv Type Serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #28315C;
}

.product-desc > h3 {
    margin-bottom: 15px;
}

.product-desc .description {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: black;
}

.product-price {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    width: fit-content;
    margin-top: auto;
}

.product-price .cross {
    text-decoration: line-through;
    color: #DFE1E6;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    font-family: 'Exo2';
}

.product-price h3 {
    color: black;
    font-family: 'Exo2';
}

.product-price .discount {
    background-color: #6F0E19;
    padding: 2px 8px;
    color: #fff;
    position: absolute;
    top: -14px;
    left: 100%;
    border-radius: 99px;
    font-family: 'Exo2';
}

.quantity-controls {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
    
.quantity, .quantity-controls button {
    font-family: 'Kyiv Type Serif';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center
}
    
.quantity-controls button {
    background-color: transparent;
}

.buy-like {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: space-between;
}

.buy-like button {
    width: 85%;
}

.buy-like span {
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: var(--trans);
  cursor: pointer;
}

.buy-like span path {
    stroke: #28315C;
}

.buy-like span.like.active svg path {
    fill: #28315C !important;
}

.one-click {
    width: 100%;
}

.slider {
    display: none;
    position: relative;
}

.breadcrmb {
    position: absolute;
    top: 23px;
    left: 16px;
    z-index: 1;
}

.breadcrmb path {
    opacity: 50%;
}

#swiper4{
  height: 346px;

}
#swiper4 img{
   height: 100%;
  object-fit: cover;
  }
#swiper4.swiper-wrapper {
  height: 100%;
}
#swiper4.swiper-slide {
  height: 100%;
  width: 100%;
  position: relative;
}
#popup-content2{
    width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#swiper4.swiper-slide img {
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #DFE1E6 !important;
  opacity: 1 !important;
  background-color: transparent !important;
  transition: var(--trans);
}

.swiper-pagination-bullet:hover {
    border: 2px solid #28315C !important;
}
  
.swiper-pagination-bullet-active {
  background-color: #DFE1E6 !important;
}
  
.swiper-pagination {
  bottom: 31px !important;
}

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    top: auto !important;
    bottom: 21px !important;
    margin-top: 0 !important;
    width: 20px;
    height: 31px;
    z-index: 11;
}

.swiper-button-prev svg {
    transform: scaleX(-1);
}

.swiper-button-prev svg, .swiper-button-next svg {
    pointer-events: none;
}

.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}

.swiper-button-prev path, .swiper-button-next path {
    transition: var(--trans);
}

.swiper-button-prev:hover path, .swiper-button-next:hover path {
    fill: #28315C;
}
  
.product-colors {
    margin-bottom: 25px;
}

.product-sizes {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #DFE1E6;
}

.product-colors h4, .product-sizes h4 {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: black;
    margin-bottom: 10px;
}

.colors-container, .sizes-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.product-colors label, .product-sizes label {
    padding: 10px 18px;
    background-color: #DFE1E6;
    text-align: center;
    cursor: pointer;
}

.product-colors label:has(input[type="radio"]:disabled),
.product-sizes label:has(input[type="radio"]:disabled) {
    color: #0000004d;
    background-color: #DFE1E64D;
}

.product-colors label:has(input[type="radio"]:checked),
.product-colors label:hover,
.product-sizes label:has(input[type="radio"]:checked),
.product-sizes label:hover {
    background-color: #6F0E19;
    color: #DFE1E6;
}

.product-charact {
    margin-bottom: 50px;
}

.product-charact h3 {
    margin-bottom: 12.5px;
}

.product-charact p {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
    max-width: 628px;
}

#stars-container, .rating {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.star {
  width: 26px;
  height: 24px;
  -webkit-mask: url('/assets/img/Star.svg') no-repeat center;
  mask: url('/assets/img/Star.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background: #ADB9AE;
}

.add-review h3 {
  margin-bottom: 20px;
}

.add-review .star {
  height: 32px;
}

.add-review .rating p {
  font-size: 22px;
  line-height: 28px;
  color: black;
  font-family: 'Exo2';
}

.review-form {
  display: flex;
  background-color: #F5F5F5;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.add {
  width: 100%;
}

.add label {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 10px;
  font-family: 'Exo2';
}

.add label span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #939393;
  padding-bottom: 4px;
}

.enter-star {
  font-size: 48px;
  line-height: 48px;
  color: #DFE1E6;
  cursor: pointer;
  transition: var(--trans);
}

.enter-star.selected,
.enter-star.hover {
  color: #fbd300;
}

.enter-rating {
  margin-bottom: 40px;
}

.comment {
  font-family: 'Exo2', Arial;
  width: 100%;
  resize: vertical;
  min-height: 100px;
  border: 1px solid #6F6F6F4D;
  border-radius: 5px;
  height: 152px;
  padding: 25px;
  margin-top: 4px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.comment::placeholder {
  color: #DFE1E6;
}

.add-review .lite_btn {
    justify-self: end;
}

.reviews-list {
  border-top: 2px solid #6F6F6F4D;
  margin-bottom: 20px;
}

.review-container {
  border-bottom: 1px solid #6F6F6F4D;
  padding: 30px 0;
  display: flex;
}

.review {
  padding-top: 7px;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 8px;
  font-family: 'Exo2';
}

.review .star {
  width: 25px;
}

.review-date {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #939393;
  font-family: 'Exo2';
}

.review .rating {
  margin-bottom: 20px;
}

.review-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  font-family: 'Exo2';
}

#no-reviews {
  text-align: center;
  margin: 60px;
  font-size: 30px;
  font-family: 'Kyiv Type Serif';
  color: #28315C;
}

@media (max-width: 1019px) {
    .product-container {
        background-color: unset;
        padding-top: 0;
    }

    .product-container > .container {
        padding: 0;
    }

    .breadcrambs, .gallery {
        display: none;
    }

    .product-flex {
        flex-direction: column;
        gap: 26px;
    }

    .slider {
        display: block;
    }

    .product-info-container {
        width: 100%;
        padding: 0 15px;
    }

    .product-info {
        box-shadow: 0px 0px 14px 0px #54483D1A;
    }

    .product-fillters {
        margin-top: 31px;
        padding-bottom: 21px;
        margin-bottom: 21px;
    }

    .fillters-container {
        gap: 10px;
    }

    .fillter-tab1 {
        order: 1;
    }

    .fillter-tab2 {
        order: 2;
    }

    .fillter-tab3 {
        order: 4;
    }

    .fillter-tab4 {
        order: 3;
    }


    .product-charact {
        margin-bottom: 90px;
    }

    .add-to-cart {
        margin-bottom: 0;
    }

    .add-to-cart::before, .add-to-cart::after {
        display: none;
    }

    .add-to-cart-header {
        margin-bottom: 30px;
    }

    .add-to-cart #swiper2 .swiper-button-prev, 
    .add-to-cart #swiper2 .swiper-button-next {
        display: none;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trans);
}

.popup-content {
    width: 0;
    max-width: 596px;
    height: auto;
    min-height: 498px;
    background: white;
    position: relative;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#popup-content1 {
    width: 100%;
    transition: var(--trans);
}

.popup.active, .popup-content.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup.active .popup-content {
    transform: scale(1); 
}

.popup-content-order {
    width: 100%;
}

.popup-content-order h3 {
    padding: 10px;
    text-align: center;
    border-top: 2px solid var(--color_dark);
    border-bottom: 2px solid var(--color_dark);
}

.popup .quantity-controls {

    margin-bottom: 0;
}

.cart-item {
    padding: 20px 0;
}
    
.cart-item img {
    width: 107px;
    align-self: flex-start;
    margin-top: 5px;
}
    
.item-top {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
    
.item-text {
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    gap: 15px;
}
    
.item-title {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    color: var(--small-text);
}
    
.item-desc {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    color: #E4DFD5;
    max-width: 332px;
}
    
.item-price {
    font-family: 'Exo2';
    font-weight: 500;
    font-size: 20px;
    line-height: 27.32px;
    color: var(--small-text);
    white-space: nowrap;
}

.popup .input {
    width: 100%;
    margin-bottom: 20px;
}

.popup .lite_btn {
    width: 100%;
}

.popup-content-thanks {
    border-top: 2px solid var(--color_dark);
    border-bottom: 2px solid var(--color_dark);
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.popup-content-thanks p {
    max-width: 324px;
    color: var(--small-text, #2B221B);
text-align: center;

/* Body base */
font-family: 'Exo2';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.close-btn {
    position: absolute;
    top: 35px;
    right: 26px;
    transform: rotate(45deg);
    background-color: transparent;
    color: var(--color_dark);
    font-family: 'Kyiv Type Serif';
    font-weight: 500;
    font-size: 29px;
    line-height: 29px;
}

@media (max-width: 1019px) {
    .cart-item {
        padding: 20px 0 0;
        border: none !important;
    }
     
    .cart-item img {
        width: 89.35px;
    }
      
    .item-text {
        flex-direction: row;
        align-items: center;
        margin-right: 14px;
    }
     
    .item-title {
        font-size: 14px;
        line-height: 19.12px;
    }
    
    .item-desc {
        display: none;
    }
    
    .popup  .quantity-controls {
        padding: 5px;
        margin: 0;
        margin-bottom: 20px;
    }

    .popup-content {
        min-height: 200px;
        height: fit-content;
    }
}
